.navbar-navlink-active {
  color: #0a446d;
  font-weight: bold;
}

.navbar-navlink {
  color: #10619a;
  color: rgb(16, 97, 154)
}

.navbar-navlink,
.navbar-navlink:hover,
.navbar-navlink-active,
.navbar-navlink-active:hover {
  text-decoration: none;
}

.navbar-navlink:hover {
  color: #1ea4c2;
}
.navbar-navlink-active:hover {
  color: #1ea4c2;
}

.palette{
  color: #094067;
  color: #3F4BAC;
  color: #E6BCF4;
  color: #D3A4F2;
  color: #9159b7;
}
