.dashboard-navlink-active {
  color: #094067;
  font-weight: bold;
}

.dashboard-navlink {
  color: #10619a;
}

.dashboard-navlink,
.dashboard-navlink:hover,
.dashboard-navlink-active,
.dashboard-navlink-active:hover {
  text-decoration: none;
  font-size: large;
}

.dashboard-navlink:hover {
  color: #094067;
}
.dashboard-navlink-active:hover {
  color: #094067;
}
