.item-list-shadow {
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 10px 10px 20px #e0e0e0, -10px -10px 20px #ffffff;
  transition: box-shadow 0.3s ease-in-out;
}

.item-list-shadow:hover {
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 6px 6px 12px #919191, -6px -6px 12px #ffffff;
}

.logo-list-header {
  width: auto;
  height: 70%;
}

.logo-list-item {
  width: auto;
  height: 80%;
}

.logo-tool-page {
  width: auto;
  height: 70%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
  margin: 0px;
}

.title-card {
  font-size: calc(0.7rem + 0.4vw);
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
p,
a,
ul,
li {
  font-family: "Raleway";
}

ul {
  padding-left: 0px;
  list-style-position: inside;
  text-align: left;
}

.raleway {
  font-family: "Raleway";
}
.montserra {
  font-family: "Montserra";
}

.img-landing-page {
  height: 100px;
  width: auto;
}

.col-responsive {
  margin-right: auto !important;
  margin-left: auto !important;
  flex: 0 0 auto;
  width: 50%;
}

// xxl
@media (max-width: 1400px) {
  .img-landing-page {
    height: 90px;
    width: auto;
  }

  .col-responsive {
    margin-right: auto !important;
    margin-left: auto !important;
    flex: 0 0 auto;
    width: 50%;
  }
}

// xl
@media (max-width: 1200px) {
  .img-landing-page {
    height: 80px;
    width: auto;
  }

  .col-responsive {
    margin-right: auto !important;
    margin-left: auto !important;
    flex: 0 0 auto;
    width: 60%;
  }
}

// lg
@media (max-width: 992px) {
  .img-landing-page {
    height: 70px;
    width: auto;
  }

  .logo-list-item {
    width: auto;
    height: 55%;
  }

  .col-responsive {
    margin-right: auto !important;
    margin-left: auto !important;
    flex: 0 0 auto;
    width: 70%;
  }
}

// md
@media (max-width: 768px) {
  .logo-list-header {
    width: auto;
    height: 50%;
  }

  .logo-list-item {
    width: auto;
    height: 65%;
  }

  .logo-tool-page {
    width: auto;
    height: 50%;
  }
  .col-6-resized-md {
    width: 70%;
  }

  .img-landing-page {
    height: 60px;
    width: auto;
  }

  .title-card {
    font-size: calc(1rem + 0.4vw);
  }

  .col-responsive {
    margin-right: auto !important;
    margin-left: auto !important;
    flex: 0 0 auto;
    width: 80%;
  }
}

// sm
@media (max-width: 576px) {
  .col-6-resized-md {
    width: 80%;
  }

  .img-landing-page {
    height: 50px;
    width: auto;
  }

  .col-responsive {
    margin-right: auto !important;
    margin-left: auto !important;
    flex: 0 0 auto;
    width: 90%;
  }
}

@media (max-width: 400px) {
  .col-6-resized-md {
    width: 95%;
  }
  .img-landing-page {
    height: 40px;
    width: auto;
  }
  .col-responsive {
    margin-right: auto !important;
    margin-left: auto !important;
    flex: 0 0 auto;
    width: 100%;
  }
}
