.TestFront {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.TestFront-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .TestFront-logo {
    animation: TestFront-logo-spin infinite 20s linear;
  }
}

.TestFront-link {
  color: #61dafb;
}

@keyframes TestFront-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
