.home {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/png/landingpage/landingpage1.png") no-repeat center center fixed;
}


.home-row {
  height: 100%;
  align-content: center;
}

.home-col {
}
