.navbar-navlink-active {
  color: #0a446d;
  font-weight: bold;
}

.navbar-navlink {
  color: #10619a;
}

.navbar-navlink,
.navbar-navlink:hover,
.navbar-navlink-active,
.navbar-navlink-active:hover {
  text-decoration: none;
  font-size: large;
}

.navbar-navlink:hover {
  color: #1ea4c2;
}
.navbar-navlink-active:hover {
  color: #1ea4c2;
}
