.category-container {
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 10px 10px 20px #e0e0e0, -10px -10px 20px #ffffff;
  transition: box-shadow 0.3s ease-in-out;
}

.category-container:hover {
  cursor: pointer;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 6px 6px 12px #919191, -6px -6px 12px #ffffff;
}
/* .category-container:hover {
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
} */
